* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-image {
    /* background-image: url('./Assets/hero-1.jpg.webp'); */
    height: 900px;
}

/* navbar */
.flex {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

.logo img {
    margin-left: 20px;
    max-width: 100%;
}

.main-nav {
    justify-content: space-between;
    margin-top: 35px;
}

.nav-links {
    flex-basis: 730px;
    margin-right: 20px;
    position: relative;
    top: 5px;
}

.nav-links li a {
    text-decoration: none;
}

.nav-links ul {
    justify-content: end;
    gap: 20px;
}

.hover-link {
    color: white;
    transition: 0.2s ease-out;
    font-size: 17px;
    font-weight: 600;

}

.hover-link:hover {
    color: rgb(197, 88, 4);

}

.nav-links .primary-button {
    /* background: transparent; */
    border: 2px solid #f36100;
    color: #ffffff;
}

.primary-button {
    display: inline-block;
    font-size: 14px;
    padding: 17px 30px 16px;
    color: #ffffff;
    background-color: #f36100;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    top: 3px;
}

.nav-links .secondary-button {
    background: transparent;
    border: 2px solid #f36100;
    color: #ffffff;
}

.secondary-button {
    display: inline-block;
    font-size: 14px;
    padding: 17px 30px 16px;
    /* color: #ffffff; */
    /* background-color: #f36100; */
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    top: 3px;
}

.center {
    position: relative;
    right: 400px;
    top: 3px;
    left: -310px;
}

#upper {
    text-transform: uppercase;
    display: inline-block;
}

/* registration form */
form {
    height: fit-content;
    width: 375px;
    margin: 0 auto;
    padding: 16px;
    /* background-color: cadetblue; */
    background: transparent;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 3px 6px rgba(255, 224, 224, 0.224);

}

body h1 {
    text-align: center;
    /* color: #4d4d4d; */
    font-size: 50pt;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f36100;
    position: relative;
    top: 40px;
}

label {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* float: left;  */
    text-align: left;
    color: white;
}

input {
    padding: 10px;
    font-size: large;
    display: inline-block;
    /* float: right; */
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    text-decoration: solid;
    width: 100%;
    background-color: black;
    box-shadow: 2px rgba(15, 15, 15, 0.087);
    color: #ccc;
}

input:focus {
    color: #ccc;
    font-size: larger;
}

::placeholder {
    color: rgb(249, 96, 96);
    opacity: 1;
    /* Firefox */
}

input[type="radio"] {
    width: 13px;
    margin-right: 8px;
    position: relative;
    left: 5px;
    transform: scale(1.5);
}

.btn-submit {
    display: inline-block;
    font-size: 18px;
    /* padding: 17px 20px 16px; */
    padding: 10px;
    color: #ffffff;
    /* background-color: #f36100; */
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.3s ease-in-out;
    background: transparent;
    border: 2px solid #f36100;
    width: 100%;
    cursor: pointer;
    margin-top: 15px;
}

.btn-submit:hover {
    background-color: #f36100;
    box-shadow: none;

}

/* 
input {
    padding: 5px;
    border-radius: 8px;
    border: solid black 2px;
    border: none;
    box-sizing: content-box 50px;
    text-decoration: solid;
    text-align: center;

}

label {
    float: left;
    font-size: 14pt;
    color: #696969;
    display: block;
    margin-bottom: 5px;
}

form {
    background-color: cadetblue;
    justify-content: center;
    text-align: center;  
    border: darkcyan solid 3px;
    font-size: larger;
    font-weight: 800;
    box-sizing: border-box auto;
    border-radius: 12px;
    height: 600px;

}

button {
    font-size: medium;
    font-weight: 400;
    border-radius: 12px;
    margin-top: 10px;
    padding: 4px;
}

button:hover {
    background-color: royalblue;
    cursor: pointer;
}

.container {
    background-color: #16181d;
}

.rudra {
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    transition: all .5s;
    cursor: pointer;
}

li:hover {
    color: aqua;
    transform: scale(1.2);
}

.submit {
    position: relative;
}

.submit::after {
    width: 0%;
    height: 3px;
    background-color: red;
    position: absolute;
    content: '';
    left: 0%;
    bottom: 0;
    transition: all .5s;
}

.submit:hover::after {
    width: 100%;
    left: 0%;
} */